@import "tailwindcss";
@font-face {
    font-family: "Helvetica";
    src: url(../../helvetica-255/Helvetica.ttf);
}
*{
     font-family: "Helvetica";   
}




:root {
  --bg: #f9fafb;
  --bg-secondary: #ffffff;
  --text: #111827;
  --text-muted: #6b7280;
  --border: #e5e7eb;
  --primary: #7c3aed;
  --gradient-from: #e5e7eb;
  --gradient-to: #ffffff;
}

[data-theme="dark"] {
  --bg: #0f172a;
  --bg-secondary: #020617;
  --text: #f8fafc;
  --text-muted: #94a3b8;
  --border: #1e293b;
  --primary: #a78bfa;
  --gradient-from: #020617;
  --gradient-to: #0f172a;

}
